body, html {
	height: 100%;
	margin: 0;
	font-family: monospace;
}

#banner {
	background-image: url("assets/banner.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-weight: lighter;
	font-size: 60px;
	margin: 0;
}

h2 {
	font-size: 2em;
	font-weight: normal;
}

#banner-text {
	position: absolute;
	top: 80vh;
	left: 60vw;
}

#content {
	display: flex;
	margin: 4vw;
	margin-left: 8vw;
}

#posts {
	margin-right: 10vw;
	width: 60vw;
}

#sidebar {
	overflow: auto;
	position: sticky;
	top: 5vh;
	width: 15vw;
	height: 200px;
}

#email {
	width: 12vw;
	font-family: monospace;
}

.tag {
	display: inline-block;
	color: black;
	border: 1px solid black;
	border-radius: 5em;
	text-decoration: none;
	padding-left: 0.25vw;
	padding-right: 0.25vw;
	margin-right: 0.4vw;
	margin-top: 0.15vw;
	margin-bottom: 0.15vw;
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, .tag:hover {
	text-decoration: underline;
	color: lightslategrey;
	border-color: lightslategrey;
	cursor: pointer;
}

.tag:disabled {
	text-decoration: none;
	color: lightslategrey;
	border-color: lightslategrey;
	cursor: default;
}